.App {
  margin-left: 10%;
  margin-top: 3%;
}
.row::after{
  content: "";
  display: table;
  clear: both;
}

.column{
  font-size: 13px;
  float: left;
  width: 20%;
  padding: 10px;
}

.column_email{
  float: left;
  width: 16.9%;
  padding: 10px;
}

.column_currency{
  float: left;
  width: 7.5%;
  padding: 10px;
}

.column_person{
  font-size: 13px;
  float: left;
  width: 12%;
  padding: 10px;
}

.combo_customer{
  width: 265px;
  box-sizing: border-box;
  height: 36px;
  border-radius: 2px;
  background-color: #FFF;
  border: 1px solid #BDC0C7;
  margin-top: 10px;
}

.combo_currency{
  margin-top: 10px;
  height: 36px;
  width: 76px;
  background-color: #FFF;
}

.combo_project{
  margin-top: 10px;
  box-sizing: border-box;
  height: 36px;
  width: 159px;
  background-color: #FFF;
}

.email{
  margin-top: 10px;
  height: 36px;
  width: 222px;
}

.person{
  margin-top: 10px;
  height: 36px;
  width: 136px;
}

.column_bill{
  font-size: 13px;
  float: left;
  width: 29%;
  padding: 10px;
}

.column_term{
  font-size: 13px;
  float: left;
  width: 17%;
  padding: 10px;
}

.column_invoice{
  font-size: 13px;
  float: left;
  width: 10%;
  padding: 10px;
}

.column_due{
  font-size: 13px;
  float: left;
  width: 20%;
  padding: 10px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bill{
  margin-top: 10px;
  box-sizing: border-box;
  height: 100px;
  width: 371px;
}

.combo_terms{
  margin-top: 10px;
  margin-bottom: 7px;
  height: 36px;
  width: 223px;
  background-color: #FFF;
}

.date{
  margin-top: 10px;
  height: 36px;
  width: 110px;
  font-size: 14px;
}

.subject{
  margin-top: 7px;
  box-sizing: border-box;
  height: 36px;
  width: 350px;
}

.fa{
  height: 28px;
  width: 13px;
  color: #828282;
  font-size: 15px;
  position: absolute;
  margin-top: 1.6%;
  left: 61.4%;
}
.column_due .fa{
  left: 71.9%;
}

.table_product{
  font-size: 13px;
  padding: 10px;
  border-collapse: collapse;
  padding: 20px;
}
.table_product tr{
  border-collapse: collapse;
  height: 40px;
  border-bottom: 2px solid #f9f9f9;
}
.table_product tr:nth-child(even){
  background-color: #f9f9f9;
}
.No{
  width: 50px;
  height: 15px;
}
.product{
  width: 151px;
  height: 15px;
  text-align: left;
}

.discription{
  width: 378px;
  height: 15px;
  text-align: left;
}
.price{
  width: 99px;
  height: 15px;
  text-align: right;
}

.qty{
  width: 83px;
  height: 15px;
  text-align: right;
}

.tax{
  width: 83px;
  height: 15px;
  text-align: right;
}

.amount{
  width: 151px;
  height: 15px;
  text-align: right;
}

.td_price{
  text-align: right;
}

.td_qty{
  text-align: right;
}

.td_amount{
  text-align: right;
}

.btn_action{
  border-radius: 10px;
  height: 24px;
  width: 109px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.note{
  height: 89px;
  width: 485px;
  margin-top: 10px;
}

.column_note{
  font-size: 13px;
  float: left;
  width: 50%;
  padding: 10px;
}

.btn_save{
  float: right;
  margin-right: 27%;
  margin-top: 20px;
  height: 30px;
  width: 70px;
  background-color: #53b953;
  color: #FFF;
  outline: none;
}

.table_total tr:last-child td{
  border-top: 1px solid black;
  font-size: 20px;
  font-weight: bold;
}
.table_total td{
  padding: 10px;
  text-align: right;
}
.td_total{
  font-size: 20px;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
